body {
    font-family: 'Open Sans', sans-serif;
	background-color: rgb(49,51,62);
}
h1 {
	font-size: 67px;
}
a:hover {
    color: rgb(204,51,51);
}

table {
    border-collapse: collapse;
}
.border-link {
    border-bottom: 0 solid #f37736;
}
.fb-like{
	float: right;
	margin-top: -23px;
	margin-right: 5px;
}
.player-information {
	opacity: 0.9;
	font-family: 'Lobster', sans-serif;
	font-size: 18px;
	width: 350px;
	height: 350px;
    margin-top: 168px;
    margin-right: 50px;
    float: right;
}
/* HEADER */

header {
	background-color: white;
    width: 100%;
    height: 112px;
    padding-bottom: 15px;
}
.header-links {
    opacity: 0.7;
    float: right;
    margin-top: 40px;
    margin-right: 40px;
    font-size: 20px;
}
.header-link {
	color: rgb(51,51,51);
    text-decoration: none;
    padding: 10px;
    border-bottom: 0 solid #f37736;
}
.header-logo {
    border-bottom: 0 solid #f37736;
    margin-left: 150px;
    padding-top: 0px;
}
.header-text {
    display: none;
    opacity: 0.8;
    float: right;
    padding-top: 50px;  
    width: 200px;
}
.header-img {
    width: 600px;
}

/* STATUS */
.status-report {
	border-radius: 4px;
    width: 800px;
    height: 50px;
	margin-left: auto;
    margin-right: auto;
	background-color: #99FF99;
	font-size: 16px;
}
.status-report-false{
    width: 800px;
    height: 50px;
	margin-left: auto;
    margin-right: auto;
	background-color: #FF9999;
	font-size: 16px;
}


/*  INFORMACE LAYER */
.informace-layer-content{
    margin-left: auto;
    margin-right: auto;
	width: 450px;
}
.informace-layer {
    border-top: 1px gray solid;
    width: 100%;
    height: 550px;
    background-color: white;
	display: none;
}
.informace-layer-zpet {
	float: right;
}
.informace-nadpis {
    background-color: #fff;
	border-bottom: 1px whitesmoke solid;
}
/* INFORMATION LAYER */
.information-layer {
    //border: 1px gray solid;
    width: 100%;
    height: 440px;
    background-color: rgb(204,51,51);
}

.information-layer-img-pc {
    margin-left: auto;
    margin-right: auto;
    padding-top: 57px;
    width: 34em;
	font-family: 'Open Sans', sans-serif;
	font-size: 32px;
	color: whitesmoke;
}
.information-layer-img-arrow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    width: 7.5em;
}

/* KONEC INFORMATION LAYER */

/* PLAYER LAYER */

.player-layer {
	background-color: white;
    width: 100%;
    height: 670px;
}
.player-layer-player {
	background-color: white;
    opacity: 0.95;
    margin-left: auto;
    margin-right: auto;
    width: 28em;
    padding-top: 25px;
}
.player-layer-img-vyber-skladby {
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    width: 23em;
}
.player-playlist {
    width: 420px;
    height: 300px;
	opacity: 0.8;
    border: 1px rgb(204,51,51) solid;
    border-top: none;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 8px;
    scrollbar-face-color: #336699; scrollbar-3dlight-color: #336699; scrollbar-base-color: #336699; 
    scrollbar-track-color: #336699; scrollbar-darkshadow-color: #000; scrollbar-arrow-color: #000; 
    scrollbar-shadow-color: #fff; scrollbar-highlight-color: #fff;
}
.player-playlist:hover {
	opacity: 1;
}


.player-layer-img-arrow {
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 7.5em;
}
.player-layer-audio-table {
    width: 420px;
}

.player-layer-audio-table tr {
    background-color: #fff; 
}
.player-layer-audio-table tr:nth-child(even) {
    background-color: #F8F8F8;
}

/* KONEC PLAYERU */

/* CHOICE LAYER */

.choice-layer {
	background-color: white;
    width: 100%;
    height: 650px;
    display: none;
}
.choice-layer-img-zpusoby {
    margin-left: auto;
    margin-right: auto;
    padding-top: 68px;
    width: 43em;
}
.choice-layer-texts {
    margin-left: auto;
    margin-right: auto;
    padding-top: 68px;
    width: 74em;
}
.choice-layer-text-skladba {
    float: left;
    padding-left: 80px;
}
.choice-layer-text-balicek { 
    float: right;
}
#text-skladba {
    border-bottom: 0 solid #f37736;
}
#text-balicek {
    border-bottom: 0 solid #f37736;
}
.choice-layer-icons {
    margin-left: auto;
    margin-right: auto;
    padding-top: 68px;
    width: 60em;
}
.choice-layer-img-skladba {
    float: left;
}
.choice-layer-img-balicek { 
    float: right;
}
.choice-layer-img-arrow {
    margin-left: auto;
    margin-right: auto;
    padding-top: 350px;
    width: 7.5em;
}
.choice-layer-skladba-content {
    display: none;
    float: left;
    margin-top: 13px;
    opacity: 0.8;
    border-radius: 5px;
    width: 270px;
    height: 150px;

}
.choice-layer-balicek-content {
    display: none;
    float: right;
    margin-top: 13px;
    opacity: 0.8;
    border-radius: 5px;
    width: 270px;
    height: 150px;
}

/* KONEC CHOICE LAYERU */

/* FORM LAYER */
.form-layer {
    color: whitesmoke;
    display: none;
    width: 100%;
    height: 850px;
    background-color: rgb(204,51,51);
}
.form-layer-img-objednavka {
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 20em;
}
.form-layer-form {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
	width: 630px;
    height: 450px;
}
.form-layer-order-counter{
	float: right;
}
.form-layer-form textarea {
    width: 300px;
    height: 250px;
    resize: none;
	color: black;
}
.form-layer-form input {
	color: black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
}
.form-layer-form-1 {
    float: left;
}
.form-layer-form-2 {
    float: right;
}
.order-sucess {
	padding-top: 15px;
}
/* KONEC FORM LAYERU */ 
footer {
    //border: 1px gray solid;
    width: 100%;
    height: 50px;
    background-color: rgb(49,51,62);
}
.footer-content {
    margin-left: auto;
    margin-right: auto;
    width: 15.5em;
}
.footer-content-table {
    opacity: 0.8;
    padding-top: 30px;
    width: 270px;
    color: whitesmoke;
    margin-left: 50px;
    margin-right: auto;
}
.footer-content-links {
    margin-left: auto;
    margin-right: -280px;
	margin-top: -30px;
    opacity: 0.8;
    color: whitesmoke;
	float: right;
}
.footer-info {
	opacity: 0.8;
    margin-left: -400px;
    margin-right: auto;
	margin-top: 0px;
    color: whitesmoke;
	float: left;
}
.footer-link {
    opacity: 0.5;
    border-bottom: 0 solid #f37736;
}
.footer-link:hover {
    opacity: 0.9;
}
